body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#main,
#main:hover,
#reverse,
#reverse:hover {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#flipbox {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    line-height: 88px;
    width: 98%;
    height: 208px;
    left: 1%;
}

.button-spacer {
    width: 24px;
}
